<main>
    <div class="card">
        {{#with heading}}
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {{#with main}}
                    <h1>{{title}}</h1>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <div>
                        <div class="btn btn-primary">{{solid}}</div>
                    </div>
                    <div>
                        <div class="btn btn-outline-primary mt-4">{{outline}}</div>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {{#with second}}
                    <h2>{{title}}</h2>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <div><button class="btn btn-secondary">{{solid}}</button></div>
                    <div><button class="btn btn-outline-secondary mt-4">{{outline}}</button></div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    {{#with subblock}}
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <div><button class="btn btn-dark">{{solid}}</button></div>
                    <div><button class="btn btn-outline-dark mt-4">{{outline}}</button></div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    
    <div class="card mt-5">
        <div class="card-body">
            {{#with nested_display}}
            <div class="display-1">{{title}}</div>
            <div class="card mt-4">
                {{#with children_display}}
                <div class="card-body">
                    <div class="display-4">{{title}}</div>
                    <p>{{text}}</p>
                    <div class="btn btn-outline-warning">{{button.text}}</div>
                </div>
                {{/with}}
            </div>
            <h6 class="mt-4 mb-3">{{header_text}}</h6>
            <div class="btn btn-outline-info">{{button.text}}</div>
            {{/with}}
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            {{#with paragraph}}
            <p class="text-uppercase mb-4">{{title}}</p>
            <p class="text-lowercase mb-4">{{text}}</p>
            <button class="btn btn-outline-link text-primary">{{button.text}}</button>
            <div class="card mt-4">
                <div class="card-body">
                    <ul>
                        {{#each list_name}}
                        <li><a class="btn btn-outline-link text-primary" href="{{url}}">{{text}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</main>