<main>
    <h1 class="text-center">{{page_header.title}}</h1>
    <div class="text-uppercase text-center mb-4">{{page_header.description}}</div>
    {{#with section}}
    <div class="card">
        <div class="card-body">
            <div class="display-6 text-end">{{about_us.title_list.main}}</div>
            <h2 class="text-end mt-4">{{about_us.title_list.sub}}</h2>
            <button class="btn btn-outline-info mt-4">{{about_us.button.text}}</button>
        </div>
    </div>
    <div class="card mt-4">
        {{#with advantage}}
        <div class="card-body">
            <div class="display-5 text-muted">{{title}}</div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="display-4 text-muted mb-4">{{efficiency.title}}</div>
                    <h6>{{efficiency.sub_title}}</h6>
                    <p class="mt-4 mb-4">{{efficiency.description}}</p>
                    <button class="btn btn-outline-warning">{{efficiency.button}}</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-muted text-center mb-4">{{innovation.title}}</div>
                    <h6 class="text-center">{{innovation.sub_title}}</h6>
                    <p class="text-center mt-4 mb-4">{{innovation.description}}</p>
                    <button class="btn btn-outline-warning">{{innovation.button}}</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-muted text-end mb-4">{{collaboration.title}}</div>
                    <h6 class="text-end">{{collaboration.sub_title}}</h6>
                    <p class="text-end mt-4 mb-4">{{collaboration.description}}</p>
                    <button class="btn btn-outline-warning">{{collaboration.button}}</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="display-5">{{agreement.title}}</div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5>{{agreement.info.sub_title}}</h5>
                    <div class="card mt-4">
                        <div class="card-body">
                            <p>{{agreement.info.detail.text}}</p>
                            <button class="btn btn-success">{{agreement.info.detail.button}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</main>