<div class="row">
    <div class="col-6  mb-3 pe-0">
        <label class="form-label mb-0">{{surname.label}}</label>
        <div>
            <input class="form-control ps-2" placeholder="{{surname.placeholder}}">
        </div>
        <div class="form-text">{{surname.caption}}</div>
    </div>
    <div class="col-6 mb-3">
        <label class="form-label mb-0">{{name.label}}</label>
        <div>
            <input class="form-control ps-2" placeholder="{{name.placeholder}}">
        </div>
        <div class="form-text">{{name.caption}}</div>
    </div>
    <div class="col-6 mb-3 pe-0">
        <label class="form-label mb-0">{{phone.label}}</label>
        <div>
            <input class="form-control ps-2" placeholder="{{phone.placeholder}}">
        </div>
        <div class="form-text">{{phone.caption}}</div>
    </div>
    <div class="col-6 mb-3">
        <label class="form-label mb-0">{{email.label}}</label>
        <div>
            <input class="form-control ps-2" placeholder="{{email.placeholder}}">
        </div>
        <div class="form-text">{{email.caption}}</div>
    </div>
</div>